<section class="py-3 py-xl-8" style="background-color: #ffffff">
  <div class="container padd mt-5 pt-3">
    <div class="row gy-4 align-items-center">
      <div class="col-12 col-md-6 col-xl-7">
        <div class="d-flex justify-content-center">
          <div class="col-12 col-xl-9">
            <img
              src="../../assets/img/login.gif"
              style="height: 500px; width: 500px"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-md-2 col-xl-5">
        <div class="card border-0 rounded-4" style="background-color: #f6f6f6">
          <div class="card-body p-5">
            <div class="row">
              <div class="col-12">
                <div class="mb-4">
                  <h3 style="font-weight: bold">Login</h3>
                </div>
              </div>
            </div>
            <!-- Show error message -->
            <div *ngIf="showError" class="alert alert-danger" role="alert">
              {{ errorMessage }}
            </div>
            <form
              class="mb-3 mt-md-4"
              [formGroup]="itemForm"
              (ngSubmit)="onLogin()"
            >
              <div class="row gy-3 overflow-hidden">
                <div class="col-12">
                  <div class="form-floating mb-3">
                    <!-- email input -->
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="example@domain.com"
                      formControlName="email"
                      required
                    />
                    <label for="email" class="form-label">Email</label>
                    <!-- email validation -->
                    <div
                      *ngIf="
                        itemForm.get('email')?.hasError('required') &&
                        (itemForm.get('email')?.dirty ||
                          itemForm.get('email')?.touched)
                      "
                      class="ng-dirty"
                    >
                      <span class="text-danger">Email is required.</span>
                    </div>
                    <div
                      *ngIf="
                        itemForm.get('email')?.hasError('pattern') &&
                        itemForm.get('email')?.touched
                      "
                      class="ng-dirty"
                    >
                      <span class="text-danger">Email ID invalid.</span>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating mb-3">
                    <!-- password input -->
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      id="password"
                      placeholder="Password"
                      formControlName="password"
                      required
                    />
                    <label for="password" class="form-label">Password</label>
                    <span class="field-icon">
                      <a (click)="show = !show; toggle()">
                        <i *ngIf="!show" class="fa fa-eye-slash"></i>
                        <i *ngIf="show" class="fa fa-eye"></i>
                      </a>
                    </span>
                    <!-- password validation -->
                    <div
                      *ngIf="
                        itemForm.get('password')?.invalid &&
                        (itemForm.get('password')?.dirty ||
                          itemForm.get('password')?.touched)
                      "
                      class="ng-dirty"
                    >
                      <span class="text-danger">Password is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-grid">
                    <button
                      class="btn btn-primary btn-lg"
                      type="submit"
                      style="background-color: #00268a; font-weight: bold"
                    >
                      Sign in
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <div class="row">
              <div>
                <p class="text-end" style="margin-top: -14px">
                  <a href="/forgot-password" class="text-primary fw-bold" style="cursor: pointer;"
                    >Forgot Password?</a
                  >
                </p>
              </div>
            </div>
            <div class="row">
              <hr />
            </div>
            <div class="row">
              <div>
                <p class="mb-0 text-center">
                  Don't have an account?
                  <a (click)="registration()" class="text-primary fw-bold" style="cursor: pointer;"
                    >Registration</a
                  >
                </p>
              </div>
            </div>
            <div class="row mt-3">
              <a
                (click)="signInWithGoogle()"
                style="text-decoration: none; cursor: pointer"
              >
                <div class="col-12 d-grid text-center">
                  <button class="btn btn-lg" style="background-color: white; font-weight: bold">
                    <img
                      src="../../assets/img/icons8-google-48.png"
                      alt=""
                      height="24px"
                      width="24px"
                    />
                    Sign In with Google
                  </button>
                </div>
              </a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
